<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__list-items">
      <li class="main-header__item">
        <a class="<%= activeCSS === 'home' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <li class="main-header__item">
        <a class="<%= activeCSS === 'users' ? 'active' : '' %>" href="/users"
          >Users</a
        >
      </li>
    </ul>
  </nav>
</header>
