body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: khaki;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: red;
}

p {
  color: green;
}
